/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('assets/img/fond.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fond {
  background-color: white;
  opacity: 0.85;
}
